@import url(/src/styles/variables.css);

body {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-base);
    line-height: 1.5;
    background-color: var(--color-light);
    color: var(--color-dark);
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary-dark);
}

h1,
h2,
h3,
h4 {
    color: var(--color-dark);
    font-weight: bold;
    margin-top: var(--spacing-lg);
}

p {
    margin-bottom: var(--spacing-md);
}

code {
    background-color: #f4f4f4;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    font-family: monospace;
}