@import './variables.css';
@import './base.css';
@import './components.css';

body {
    font-family: var(--font-family);
    background-color: var(--color-bg);
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
}

h1,
h2 {
    color: var(--color-primary);
}