---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Botones"
    link="https://crobf-arg.github.io/UI/dist/components/buttons.min.css">
    <link
        rel="stylesheet"
        href="https://crobf-arg.github.io/UI/dist/components/buttons.min.css"
    />
    <p>Estos son los botones disponibles en tu biblioteca:</p>
    <div class="buttons">
        <button style="background-color: #333;">Botón</button>
        <div class="code-container">
            <code class="language-html">
                {`<button style="background-color: #333;">Botón</button>`}
            </code>
        </div>
        <button class="large" style="background-color: #333;">Botón</button>
        <div class="code-container">
            <code class="language-html">
                {
                    `<button class="large" style="background-color: #333;">Botón</button>`
                }
            </code>
        </div>
        <button class="fill-up">Botón</button>
        <div class="code-container">
            <code class="language-html">
                {`<button class="fill-up">Botón</button>`}
            </code>
        </div>
        <button class="fill-right">
            <span class="content">Botón</span>
        </button>
        <div class="code-container">
            <code class="language-html">
                {
                    `<button class="fill-right"><span class="content">Botón</span></button>`
                }
            </code>
        </div>
        <button style="background-color: #333;" class="move-up">Botón</button>
        <div class="code-container">
            <code class="language-html">
                {
                    `<button style="background-color: #333;" class="move-up">Botón</button>`
                }
            </code>
        </div>
        <button style="background-color: #333;" class="shake">Botón</button>
        <div class="code-container">
            <code class="language-html">
                {
                    `<button style="background-color: #333;" class="shake">Botón</button>`
                }
            </code>
        </div>
        <button style="background-color: #333;" class="shadow">Botón</button>
        <div class="code-container">
            <code class="language-html">
                {
                    `<button style="background-color: #333;" class="shake">Botón</button>`
                }
            </code>
        </div>
    </div>
</Layout>
<style>
    .code-container {
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .code-container code {
        padding: 10px;
        display: block;
        max-width: fit-content;
    }
</style>
