---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Botones">
    <link
        rel="stylesheet"
        href="https://crobf-arg.github.io/UI/src/components/buttons/button4.css"
    />

    <h1>Botones</h1>
    <p>Estos son los botones disponibles en tu biblioteca:</p>
    <button class="btn">Bot贸n Primario</button>
    <button class="btn">Bot贸n Secundario</button>
    <pre>
    <code>
      {`
        <button class="btn">Bot贸n Primario</button>
        <button class="btn">Bot贸n Secundario</button>
      `}
    </code>
  </pre>
</Layout>
