---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="hero">
        <div class="hero-body">
            <h1 class="hero-title">
                Bienvenido a la Biblioteca de Componentes
            </h1>
            <p class="hero-subtitle">
                Explora una colección de componentes modernos, funcionales y
                minimalistas.
            </p>
            <a href="/buttons" class="btn">Empezar</a>
        </div>
    </section>
</Layout>
