.card {
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    .card-image {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        aspect-ratio: 4/3;
        -webkit-border-radius: 10px 10px 0px 0px;
        -moz-border-radius: 10px 10px 0px 0px;
        -ms-border-radius: 10px 10px 0px 0px;
        -o-border-radius: 10px 10px 0px 0px;
    }

    .media {
        display: flex;
        flex-direction: row;
        margin: 20px 10px 0 10px;
        gap: 10px;

        img {
            max-width: 20%;
            border-radius: 10px;
        }

        .content .title {
            font-size: clamp(20px, 5vw, 30px);
            font-weight: bold;
            margin: 0;
            margin-bottom: 5px;
        }

        .content .subtitle {
            font-size: clamp(14px, 3vw, 17px);
            margin: 0;
            font-weight: 100;
            color: #777777;
        }
    }

    .content {
        padding: 10px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        text-wrap: balance;
        line-height: 22px;
    }

}