.card {
    width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-image img {
    width: 400px;
    border-radius: 10px 10px 0px 0px;
    aspect-ratio: 4/3;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

.media {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 20px;
}


.media-left img {
    width: 48px;
    margin-right: 10px;
}

.media-content .title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.media-content .subtitle {
    font-size: 16px;
    margin: 0;
}

.content {
    padding: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-wrap: balance;
    line-height: 22px;
}

.dark {
    background-color: #333;
    color: white;
    width: 400px;
}

.dark a {
    color: aqua;
}