---

---

<section class="hero">
    <div class="hero-body">
        <h1 class="hero-title">Biblioteca de Componentes UI</h1>
        <p class="hero-subtitle">
            CROBF-UI es una biblioteca gratuita y de código abierto que
            proporciona componentes Frond-End para listos para usar en tus
            proyectos.
        </p>
        <div class="button">
            <a href="/components/buttons"
                ><button class="outlet">Empezar</button></a
            >
        </div>
    </div>
</section>
<style>
    :root {
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
    }
    h1 {
        text-wrap: balance;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 1rem;
        background: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p {
        text-align: center;
        text-wrap: balance;
        font-size: 1.3rem;
        line-height: 1;
    }
    a {
        text-align: center;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button {
        display: flex;
        justify-content: center;
    }
</style>
