<nav class="navbar">
    <div class="container">
        <a href="/" class="navbar-brand">CROBF - UI</a>
        <button class="hamburger" aria-label="Toggle menu">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="30"
                height="30"
                fill="white">
                <path
                    d="M3 6h18M3 12h18M3 18h18"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
        </button>
        <ul class="navbar-menu">
            <li><a href="/buttons">Botones</a></li>
            <li><a href="/cards">Cards</a></li>
            <li><a href="/tables">Tablas</a></li>
        </ul>
    </div>
    <div class="navbar-modal">
        <button class="close-menu" aria-label="Close menu">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="30"
                height="30"
                fill="white">
                <path
                    d="M18 6L6 18M6 6l12 12"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
        </button>
        <ul class="navbar-menu">
            <li class="home"><a href="/">CROBF - UI</a></li>
            <li><a href="/buttons">Botones</a></li>
            <li><a href="/cards">Cards</a></li>
            <li><a href="/tables">Tablas</a></li>
        </ul>
    </div>
</nav>

<style>
    .navbar {
        color: white;
        padding: 1rem 1rem;
    }

    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-brand {
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
    }

    .hamburger {
        background: none;
        border: none;
        cursor: pointer;
        display: none;
    }

    .hamburger svg {
        display: block;
        width: 30px;
        height: 30px;
    }

    .navbar-menu {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    .navbar-menu li {
        margin: 0 1rem;
    }

    .navbar-menu a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }

    .navbar-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .navbar-modal.active {
        display: flex;
    }

    .close-menu {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: none;
        border: none;
        cursor: pointer;
    }

    .navbar-menu a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
    }
    .navbar-modal ul li a {
        font-size: 2.5rem;
        line-height: 1.5;
    }
    .navbar-modal ul li a:hover {
        color: #f1f1f1;
        text-decoration: underline;
    }

    @media (max-width: 768px) {
        .hamburger {
            display: block;
        }

        .navbar-menu {
            display: none;
        }

        .navbar-modal ul {
            display: block;
        }
    }
</style>

<script is:inline>
    const hamburger = document.querySelector(".hamburger");
    const closeMenu = document.querySelector(".close-menu");
    const modal = document.querySelector(".navbar-modal");

    hamburger.addEventListener("click", () => {
        modal.classList.add("active");
    });

    closeMenu.addEventListener("click", () => {
        modal.classList.remove("active");
    });
</script>
