.notification {
    padding: 1rem;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: white;
    display: inline-block;
}

.notification-success {
    background-color: #28a745;
}

.notification-error {
    background-color: #dc3545;
}

.notification-warning {
    background-color: #ffc107;
    color: #333;
}