---
import BaseHead from "../components/BaseHead.astro";
import Instalacion from "../components/Instalacion.astro";
import SideBar from "../components/SideBar.astro";
import Title from "../components/Title.astro";
const link = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <BaseHead />
        <title>{Astro.props.title || "UI - CROBF"}</title>
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <SideBar />
        <main>
            <Title />
            <Instalacion link=`${Astro.props.link}` />
            <div class="container">
                <h4>{Astro.props.title}</h4>
                <slot />
            </div>
        </main>
        <style>
            body {
                margin: 0;
                background-color: #14161a;
                color: white;
                display: flex;
            }
            main {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        </style>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"
        ></script>
    </body>
</html>
